@use "../../../index.scss" as *;

// .dev-card {
//   position: absolute;
//   left: 50%;
//   top: 50%;
//   transform: translate(0, -50%);
//   border-radius: 10px;
//   width: 200px;
//   height: 250px;
//   overflow: hidden;
//   box-shadow:
//     2px 2px 20px rgba(0, 0, 0, 0.1),
//     -2px -2px 20px rgba(0, 0, 0, 0.1);
//   z-index: 40;
//   border: none;

//   img {
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     border-radius: 10px;
//     object-fit: cover;
//     z-index: -1;

//   }
//

// .dev-card:nth-child(1) {
//   left: 0;
//   top: 0;
//   transform: translate(0, 0);
//   width: 100%;
//   height: 100%;
// }
// .dev-card:nth-child(2) {
//   left: 0;
//   top: 0;
//   transform: translate(0, 0);
//   width: 100%;
//   height: 100%;
// }
// .dev-card:nth-child(3) {
//   left: 50%;
// }
// .dev-card:nth-child(4) {
//   left: calc(50% + 220px);
// }
// .dev-card:nth-child(5) {
//   left: calc(50% + 440px);
// }
// .dev-card:nth-child(n + 6) {
//   left: calc(50% + 660px);
//   opacity: 0;
// }

// .dev-card:hover:nth-child(2) {
//     // position: absolute;
//   transition: all 0.5s ease;
//    opacity: 1;
//   inset: 0;
// background: rgba(255, 255, 255, 0.9);//   z-index: -1;
// }

// .dev-card:hover:nth-child(2) .dev-project {
//   overflow: hidden;
//   transition: all 0.5s ease;
//   opacity: 1;
//   position: absolute;
//   left: 0;
//   top: 50%;
//   transform: translate(0, -50%);
//   visibility: visible;
//   z-index: 50;
// }

// .dev-card::after {
//   content: "";
//   position: absolute;
//   inset: 0;
//   border-radius: 10px;
//   background: radial-gradient(
//     circle at center,
//     transparent 0%,
//     rgba(0, 0, 0, 0.8) 100%
//   );
//   opacity: 0;
//   transition: opacity 0.5s ease;
//   z-index: 1;
// }

// .dev-card:nth-child(2):hover::after {
//   opacity: 1;
// }

// .dev-card .dev-project {
//   z-index: 2;
// }

.swiper {
  position: relative;
  margin: 80px auto 0;
  width: 70%;
  height: 500px;
  transform-style: preserve-3d;
  overflow: hidden;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.swiper-pagination {
  bottom: 25px !important;
}
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #ffff !important;
}

.swiper-pagination-bullet-active {
  background: $primary-color !important;
  opacity: 1;
  transform: scale(1.5);
}

.dev-card {
  .dev-project {
    position: absolute;
    left: 100px;
    top: 50%;
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateY(-50%);
    opacity: 0;
    transition: all ease-in 0.3s;
    h4 {
      color: $primary-color;
      font-size: 26px !important;
    }
    p {
      margin: 40px 0 50px;
      color: $bg-color;
      text-align: justify;
      font-size: 20px !important;
    }
    .dev-btns {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 280px;

      a {
        width: 150px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: fit-content;

        button {
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 5px;
          padding: 10px 20px;
          font-size: 16px;
          border-radius: 5px;
          border: none;
          font-weight: 500;
          background-color: $primary-color;
          color: $bg-color;
          border: none;
          transition: all 0.3s ease;

          &:hover {
            background-color: darken($primary-color, 15%);
          }
        }
      }
    }

    .dev-btns a:nth-child(2) button {
      background-color: #ffff;
      color: $primary-color;
      border: 1px solid $primary-color;
      &:hover {
        background-color: lighten($secondary-color, 6%);
      }
    }
  }

  .dev-project:hover {
    opacity: 1;
  }
}
