@use "../../../index.scss" as *;

.swiper {
  position: relative;
  margin: 80px auto 0;
  width: 70%;
  max-width: 900px;
  height: 500px;
  transform-style: preserve-3d;
  overflow: hidden;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  height: 500px;
}

.swiper-pagination {
  bottom: 5% !important;
}
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #ffff !important;
}

.swiper-pagination-bullet-active {
  background: $primary-color !important;
  opacity: 1;
  transform: scale(1.5);
}

.dev-card {
  border-radius: 20px;
  box-shadow:
    2px 2px 20px rgba(0, 0, 0, 0.1),
    -2px -2px 20px rgba(0, 0, 0, 0.1);
  .dev-project {
    position: absolute;
    top: 50%;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateY(-50%);
    opacity: 0;
    transition: all ease-in 0.3s;
    h4 {
      color: $primary-color;
      font-size: 26px !important;
    }
    p {
      margin: 40px 0 50px;
      color: $bg-color;
      text-align: justify;
      font-size: 20px !important;
    }
    .dev-btns {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 280px;

      a {
        width: 150px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: fit-content;

        button {
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 5px;
          padding: 10px 20px;
          font-size: 16px;
          border-radius: 5px;
          border: none;
          font-weight: 500;
          background-color: $primary-color;
          color: $bg-color;
          border: none;
          transition: all 0.3s ease;

          &:hover {
            background-color: darken($primary-color, 15%);
          }
        }
      }
    }

    .dev-btns a:nth-child(2) button {
      background-color: #ffff;
      color: $primary-color;
      border: 1px solid $primary-color;
      &:hover {
        background-color: lighten($secondary-color, 6%);
      }
    }
  }

  .dev-project:hover {
    opacity: 1;
    background: radial-gradient(
      circle at center,
      rgba(0, 0, 0, 0.2) 20%,
      rgba(0, 0, 0, 0.7) 100%
    );
  }
}

@media (max-width: 950px) {
  .swiper {
    width: 500px;
    height: 400px;
  }
  .swiper-slide img {
    height: 400px;
  }

  .dev-card {
  border-radius: 20px;
  box-shadow:
    2px 2px 20px rgba(0, 0, 0, 0.1),
    -2px -2px 20px rgba(0, 0, 0, 0.1);
  .dev-project {
    position: absolute;
    top: 50%;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateY(-50%);
    opacity: 0;
    transition: all ease-in 0.3s;
    h4 {
      color: $primary-color;
      font-size: 22px !important;
    }
    p {
      margin: 40px 0 50px;
      color: $bg-color;
      text-align: justify;
      font-size: 14px !important;
    }
    .dev-btns {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 280px;

      a {
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 120px;

        button {
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 5px;
          padding: 10px 20px;
          font-size: 14px;
          border-radius: 5px;
          border: none;
          font-weight: 500;
          background-color: $primary-color;
          color: $bg-color;
          border: none;
          transition: all 0.3s ease;

          &:hover {
            background-color: darken($primary-color, 15%);
          }
        }
      }
    }

    .dev-btns a:nth-child(2) button {
      background-color: #ffff;
      color: $primary-color;
      border: 1px solid $primary-color;
      &:hover {
        background-color: lighten($secondary-color, 6%);
      }
    }
  }

  .dev-project:hover {
    opacity: 1;
    background: radial-gradient(
      circle at center,
      rgba(0, 0, 0, 0.2) 20%,
      rgba(0, 0, 0, 0.7) 100%
    );
  }
}
}