@use "../../index.scss" as *;

.cloud-stack-overlay {
  position: fixed;
  inset: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.4);

  .cloud-stack-container {
    max-width: 1500px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    overflow-y: scroll;
    left: 50%;
    top: 50%;
    gap: 15px;
    transform: translate(-50%, -50%);
    background-color: $bg-color;
    width: 80%;
    height: 600px;
    padding: 30px 100px;
 
    h3 {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 30px;
    }

    .cloud-stack-categories {
      display: flex;
      flex-direction: column;
      height: 70px;
      background-color: #fff;
      border: 1px solid darken($bg-color, 10%);
      border-radius: 25px;
      transition:
        height .8s ease,
        box-shadow 0.6s ease;

      h4 {
        display: flex;
        align-items: center;
        height: 70px;
        min-height: 70px;
        flex-shrink: 0;
        margin: 0 20px;
        color: $primary-color;
        border-bottom: 1px solid transparent;
        transition: border-color 0.5s ease;
      }

      .cloud-stack-logo-container {
        display: flex;
        border-radius: 25px;
        align-items: center;
        justify-content: flex-start;
        overflow: hidden;
        flex-wrap: wrap;
        gap: 10px 5px;
        margin: 10px 20px;
        padding: 5px 10px;
        opacity: 0;
        transform: translateY(-10px);
        transition:
          opacity 0.5s ease,
          transform .8s ease;

        .cloud-stack-logo {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 130px;
          border-radius: 25px;
          padding: 15px 20px;
          gap: 5px;
          font-weight: 500;
          font-size: 14px;
          text-align: center;

          img {
            width: 50%;
          }
        }
      }

      &:hover {
        height: 100%;

        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);

        h4 {
          border-bottom-color: darken($bg-color, 10%);
        }

        .cloud-stack-logo-container {
          opacity: 1;

          transform: translateY(0);
        }
      }
    }

    .close-btn {
      position: absolute;
      top: 20px;
      right: 20px;
      color: $text-color;
      font-size: 1.5rem;
      cursor: pointer;
      transition:
        color 0.3s ease,
        transform 0.3s ease;

      &:hover {
        color: $primary-color;

        transform: scale(1.1);
      }
    }
  }
}