@use "../../index.scss" as *;
.contact-section {
  position: relative;
  .background-pattern {
    position: absolute;
    z-index: -9;
    height: 100%;
    width: 100%;
    background-image: radial-gradient(#e5e7eb 2px, transparent 2px);
    background-size: 16px 16px;

    mask-image: radial-gradient(
      ellipse 50% 50% at 50% 50%,
      #000 70%,
      transparent 100%
    );

    -webkit-mask-image: radial-gradient(
      ellipse 50% 50% at 50% 55%,
      #000 70%,
      transparent 100%
    );
  }
  .contact-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1500px;

    .contact-container {
      z-index: 1;
      margin: 0 auto 80px;
      height: 70%;
      width: 80%;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      gap: 30px;
      .contact-mail {
        box-shadow:
          3px 3px 5px lighten($primary-color, 35%),
          -2px -2px 5px lighten($primary-color, 35%);
        height: 80%;
        width: 400px;
        background-color: #ffff;
        border-radius: 10px;

        .contact-title {
          display: flex;
          align-items: center;
          gap: 10px;
          margin: 30px 0 0 50px;
          color: $primary-color;
        }
      }
      .contact-img {
        width: 650px;
        filter: drop-shadow(3px 3px 10px lighten($primary-color, 25%));
        img {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 950px) {
  .contact-card {
    .contact-container {
      flex-direction: column;
      height: auto;
      width: 500px;
      margin-bottom: 50px;

      .contact-mail {
        width: 80%;
        height: auto;
        margin-bottom: 30px;
      }
      .contact-img {
        width: 40%;
        height: auto;
      }
    }
  }
}
