@use "../../index.scss" as *;

.Contact {
  background-color: $bg-color;
  position: relative;
  height: 700px;
  display: flex;
  align-items: center;

  .background-pattern {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: radial-gradient(#e5e7eb 2px, transparent 2px);
    background-size: 16px 16px;

    mask-image: radial-gradient(
      ellipse 50% 50% at 50% 50%,
      #000 70%,
      transparent 100%
    );

    -webkit-mask-image: radial-gradient(
      ellipse 50% 50% at 50% 50%,
      #000 70%,
      transparent 100%
    );
  }

  .contact-container {
    z-index: 1;
    background-color: $secondary-color;
    margin: 50px auto;
    height: 70%;
    width: 80%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .contact-mail {
      height: 80%;
      width: 35%;
      background-color: #ffff;
      border-radius: 10px;

      .contact-title {
        display: flex;
        align-items: center;
        gap: 10px;
        margin: 10px 0 0 20px;
        color: #4b4e53;
      }
      .btn-mail {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        border-radius: 25px;
        border: none;
        background-color: $primary-color;
        font-weight: 500;
        color: #ffff;
        padding: 10px 40px;
        position: relative;
        overflow: hidden;
        cursor: pointer;

        p {
            transition: transform .3s ease;
        }

        span {
            font-size: 25px;
          position: absolute;
          right: 20px;
          opacity: 0;
          transform: translateX(50px);
          transition:
            transform 0.3s ease,
            opacity 0.3s ease;
        }

        &:hover {
          background: #7b2ff7;
          background: linear-gradient(
            43deg,
            rgba(123, 47, 247, 1) 49%,
            rgba(191, 0, 255, 1) 70%,
            rgba(255, 253, 55, 1) 100%
          );
        }
      
      
        &:hover p {
          transform: translateX(-20px);
        }
      
      
        &:hover span {
          opacity: 1;
          transform: translateX(0px);
        }
        // &:active span {
        //   opacity: 1;
        //   animation: move 2s ease;
        // }
        // @keyframes move {
        //   0% {
        //     transform: translateY(10px);
        //   }
        //   100% {
        //     transform: translate(100px -100px);
        //   }
        // }
      }
    }
    .contact-img {
      width: 400px;
      height: 400px;

      img {
        width: 100%;
      }
    }
  }
}
