@use "../../index.scss" as *;

.dev-container {
  margin: 20px auto;
  width: 80%;

  .more-details {
    width: fit-content; 
    height: 60px;
    font-size: 60px;
    color: $primary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
    margin: 50px auto 50px ;
    cursor: pointer;
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
    &:active {
      transform: scale(0.95);
    }
  }
}
